.urls{
    margin: 20px 0px;
    a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #252525;
        text-decoration: none;
        margin-right: 5px;
        
    }
}
.contacts{
    h2{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #252525;
        margin-bottom: 30px;
    }
    .col-3{

    h4{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #252525;
        margin-bottom: 20px;
    }
    a{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 19px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #252525;
        text-decoration: none;
        margin-bottom: 20px;
    }
}

}