.home {
  .tophome {
    background-image: url(./../../Assets/Home/bg.jpg);
    position: relative;
    top: -136px;
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 46px;
      line-height: 54px;
      text-align: center;
      color: #ffffff;
      opacity: 0.85;
      margin-bottom: 45px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 120px;
        background-color: white;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
      }
    }
    a {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .category {
    h2 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      color: #252525;
      margin-bottom: 50px;
    }
    a {
      outline: none;
    }
    .slick-slide {
      // background-color: rebeccapurple;
      display: flex;
      justify-content: left;
    }
    .slick-next {
      background-color: #e0bea2;
      width: 50px;
      height: 50px;
      &::before {
        border-radius: 1px;
      }
    }
  }
  .subscribtion {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 600px;
    margin: auto;
    text-align: center;
    h3 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #252525;
      margin-bottom: 50px;
    }
    input {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      border: 0.5px solid #252525;
      color: rgba(37, 37, 37, 0.5);
      padding: 15px;
      width: 600px;
      outline: none;
    }
    button {
      background: #e0bea2;
      font-family: "Raleway";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      padding: 15px;
      width: 600px;
      margin-bottom: 20px;
    }
  }
}
