.regsuc{
    .modal-title{
        font-size: 18px !important;
        // margin-bottom: 20px;
    }
    p{
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 23px;
        color: #252525;
        margin-bottom: 0;
    }
}
