.controller-list {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px 25px;

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1c1c27;
    margin-bottom: 15px;
  }

  ol {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    li {
      margin-bottom: 15px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;

      svg {
        font-size: 20px;
      }
    }
  }
}
